.example {
    
  flex-direction: column;
  margin: auto;
  width: 40%;
  height: 50%;
 border: 3px solid rgb(88, 30, 224);
  padding: 15px;
  text-align: center;
  margin-top: 100px;
  margin-left: 500px;
}

.example> * {
  width: 100%; 
}
.heading{
  color: blue;
  text-align: center;
 
}
.button-row{
   text-align: center;
}

 .heading{
    color: blue;
    text-align: center;
   
 }
 
 
  
  