<section class="header">
<mat-toolbar style="background:blue">
        <div style="margin-left: 900px" *ngIf="location.path()==='/home'">
                <a [routerLink]="['/login']">  <button mat-raised-button class="btn"  >Login</button></a>&nbsp;&nbsp;
              <a [routerLink]="['/signup']"> <button mat-raised-button class="btn" >SignUp</button></a>
            </div>
            <div *ngIf="location.path()!=='/home'  && location.path()!=='/login' && location.path()!=='/forgetpwd' && location.path()!=='/signup' && location.path()!=='/payment'">
       <a [routerLink]="['/myorders']"> <button style="margin-left: 50px" mat-raised-button class="btn" style="background-color: blue">My Orders</button></a> &nbsp;&nbsp;&nbsp;
              <button mat-raised-button class="btn" style="background-color: blue">Tracking Order</button>
         <mat-icon style="margin-left: 700px" [matMenuTriggerFor]="menu">account_box</mat-icon> {{UserName}}
          <mat-menu #menu="matMenu">
           
              <button mat-menu-item>Log Out</button>
            </mat-menu>  
          </div>
          <div *ngIf="location.path()==='/login' || location.path()==='/forgetpwd' || location.path()==='/signup' ">
         <mat-icon (click)='locationBack()'>arrow_back</mat-icon>
          </div>
          <div *ngIf="location.path()==='/payment'"></div>
         
</mat-toolbar>
</section>
<router-outlet></router-outlet>
<section class="footer">
        <mat-toolbar style="background-color:mediumblue">
                <div>
                  <p style="margin-left: 400px" >
                    Copyrights2018 ,Swiggy  All Rights Reserved
                  </p>
                </div>
         </mat-toolbar>
</section>


