
.header {
    position: fixed;
    left: 0;
    height: 12%;
    top:0;
    width: 100%;
    background-color: blue;
    color: white;
    text-align: center;
}
.btn{
    height: 30px;
    width:120px;
    background-color: blue;
    border-radius: 8px;
}
.sidenav {
    height: 80%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 80px;
   bottom: 80px;
    right: 0;
    padding-left: 50px;
    background-color:whitesmoke; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

.example {
    
    flex-direction: column;
    margin: auto;
    width: 90%;
    height: 78%;
   border: 3px solid rgb(88, 30, 224);
   margin-right:60px;
   left:0;

  }
  
  .example> * {
    width: 100%; 
  }
  .button-row{
      text-align: center
  }