.example {
    
  flex-direction: column;
  margin: auto;
  width: 40%;
  height: 60%;
  margin-left: 500px;
 border: 3px solid rgb(88, 30, 224);
  padding: 15px;
  text-align: center;
  margin-top: 200px;
}
  
  
  .example> * {
    width: 100%; 
  }
 .heading{
    color: blue;
    text-align: center;
   
 }
 .button-row{
     text-align: center;
 }
  
  