<section class="header">
  <mat-toolbar style="background:blue">
            <mat-icon (click)='locationBack()'>arrow_back</mat-icon>
            <a [routerLink]="['/myorders']"> <button  style="margin-left:100px" mat-raised-button class="btn">My Orders</button></a>&nbsp;&nbsp;&nbsp;
            <a [routerLink]="['/trackingOrder']"  > <button mat-raised-button class="btn" >Tracking Order</button></a>
            &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;
            <button style="margin-left: 390px" mat-raised-button class="btn"[matMenuTriggerFor]="menus" >Notifications<mat-icon>notifications</mat-icon></button>
           <mat-menu #menus="matMenu">
          <button mat-menu-item style="width:300px" (click)="offers()">Get 20% offer for Hotel Samskruti</button>
          </mat-menu>
            <mat-icon matBadge={{cartItems.length}}  matBadgeColor="warn" (mouseenter)="mouseenter()" (mouseleave)="mouseleave()"style="margin-left: 100px">add_shopping_cart</mat-icon>
           
            <mat-icon style="margin-left: 20px">account_box</mat-icon>{{UserName}}
            <mat-icon [matMenuTriggerFor]="menu">arrow_drop_down</mat-icon>
            <mat-menu #menu="matMenu">
                
        <button mat-menu-item (click)='myOrders()'>My Orders</button>
                <button mat-menu-item (click)='logOut()'>Log Out</button>
              </mat-menu>
                             
  </mat-toolbar>
  </section>

<mat-sidenav-container class="example-container">
  <mat-sidenav class="startNav" opened mode="side">
    <mat-list class ="list" >
      <br>
      <br><br>
      <mat-list-item (click)='free("Drink")'> Drinks</mat-list-item>
      <mat-list-item  value="veg" (click)='free("Veg")'> Vegetarian Options </mat-list-item>
      <mat-list-item   (click)='free("Snacks")'> Snacks </mat-list-item>
      <mat-list-item  (click)='free("showAll")'>Show all Items</mat-list-item>
     </mat-list>
  </mat-sidenav>
  <div id="endNav" style="display: none">
  <mat-sidenav #endNav class="endNav" opened mode="side" position="end" >
    <h2>Cart</h2>
    <mat-card>
     <mat-list  *ngFor="let items of cartItems">      
      RecipeName:&nbsp;{{items.RecipeName}}<br>
      Price:&nbsp;&nbsp;{{items.ItemPrice}}  <br>
      DeliveryCharge:&nbsp;&nbsp;{{items.DeliveryCharge}}<br>
      Number Of Plates:&nbsp;&nbsp; {{items.Quantity}}<br>
      <input type="number"  placeholder="Enter Quantity" id="quantity"  (input)='myFun(items.ItemPrice,items.Quantity,$event.target.value,items.RecipeName)'>
    <br>   
  
      ...............................................
    </mat-list>
    </mat-card>
    <div id="btnCart">
   <button mat-raised-button color="primary" style="width: 350px" (click)="show()">Buy</button></div>
  </mat-sidenav>
  <div id="tooltip" style="display: none;margin-left: 500px">
      <mat-card style="width:300px">
          <mat-list  *ngFor="let items of cartItems">      
           RecipeName:&nbsp;{{items.RecipeName}}<br>
           Price:&nbsp;&nbsp;{{items.ItemPrice}}  <br> 
           ...............................................
         </mat-list>
         </mat-card>
  
  </div>
  
</div>
  <div id="food" class="original">
  <mat-grid-list cols="2" rowHeight="350px">
      <mat-grid-tile  *ngFor="let items of foodie">
          <div>
          <img mat-card-sm-image src="../../assets/images/{{items.ImageUrl}}" alt="item"><br>         
          &nbsp;&nbsp; &nbsp;&nbsp; <h4>  {{items.ItemName}}</h4>
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{items.DeliveryTime}}Mins&nbsp;.&nbsp;&nbsp;Rs:{{items.Price}} &nbsp;{{items.Quantity}}     
         <div *ngIf='items.RestaurantName=="Hotel Samskruti" && items.DeliveryType=="Charge"'>
          &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp;<span style="font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;font-size: 14px"> Offer Price:<span style="color: green" >{{items.OfferPrice}} 20%off </span></span><br>
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;Delivery Charge : &nbsp;Rs:{{items.DeliveryCharge}}&nbsp;&nbsp;
          <button type="button"  (click)='cartFun(items.ItemName,items.OfferPrice,items.DeliveryCharge,items.Plate,items.Rid)' >+</button>
          <button type="button"  (click)='removecartFun(items.ItemName,items.OfferPrice,items.DeliveryCharge,items.Rid)'>-</button>
        </div>   
        <div *ngIf='items.RestaurantName=="Hotel Samskruti" && items.DeliveryCharge==0'>
          &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp;<span style="font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;font-size: 14px"> Offer Price:<span style="color: green" >{{items.OfferPrice}} 20%off </span></span><br>
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;Delivery Charge : &nbsp;Rs:{{items.DeliveryCharge}}&nbsp;&nbsp;
          <button type="button"  (click)='cartFun(items.ItemName,items.OfferPrice,items.DeliveryCharge,items.Plate,items.Rid)' >+</button>
          <button type="button"  (click)='removecartFun(items.ItemName,items.OfferPrice,items.DeliveryCharge,items.Rid)'>-</button>
        </div>  
          <div *ngIf='items.DeliveryType=="Charge" && items.RestaurantName!="Hotel Samskruti"'>
              &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;Delivery Charge : &nbsp;Rs:{{items.DeliveryCharge}}&nbsp;&nbsp;
              <button type="button"  (click)='cartFun(items.ItemName,items.Price,items.DeliveryCharge,items.Plate,items.Rid)' >+</button>
              <button type="button"  (click)='removecartFun(items.ItemName,items.Price,items.DeliveryCharge,items.Rid)'>-</button>
            </div>
             <div *ngIf='items.DeliveryCharge==0 && items.RestaurantName!="Hotel Samskruti"'>
                &nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{items.DeliveryType}}&nbsp;Delivery&nbsp;&nbsp;
                <button type="button"  (click)='cartFun(items.ItemName,items.Price,items.DeliveryCharge,items.Plate)' >+</button>
                <button type="button"  (click)='removecartFun(items.ItemName,items.Price,items.DeliveryCharge)' >-</button>
              </div>
            
        </div>
      </mat-grid-tile>   
    </mat-grid-list>
  </div>



 <div id="foodies"  style="display: none" class="filter">
          <mat-grid-list cols="2" rowHeight="350px">
              <mat-grid-tile  *ngFor="let items of tempfoodie">
                  <div>
                  <img mat-card-sm-image src="../../assets/images/{{items.ImageUrl}}" alt="item"><br>         
                  &nbsp;&nbsp; &nbsp;&nbsp; <h4>  {{items.ItemName}}</h4>
                  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{items.DeliveryTime}}Mins&nbsp;.&nbsp;&nbsp;Rs:{{items.Price}} &nbsp;{{items.Quantity}}  <br>
                
                 <div *ngIf='items.RestaurantName=="Hotel Samskruti" && items.DeliveryType=="Charge"'>
                  &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp;<span style="font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;font-size: 14px"> Offer Price:<span style="color: green" >{{items.OfferPrice}} 20%off </span></span><br>
                  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;Delivery Charge : &nbsp;Rs:{{items.DeliveryCharge}}&nbsp;&nbsp;
                  <button type="button"  (click)='cartFun(items.ItemName,items.OfferPrice,items.DeliveryCharge,items.Plate,items.Rid)' >+</button>
                  <button type="button"  (click)='removecartFun(items.ItemName,items.OfferPrice,items.DeliveryCharge,items.Rid)'>-</button>
                </div>   
                <div *ngIf='items.RestaurantName=="Hotel Samskruti" && items.DeliveryCharge==0'>
                  &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp;<span style="font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;font-size: 14px"> Offer Price:<span style="color: green" >{{items.OfferPrice}} 20%off </span></span><br>
                  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;Delivery Charge : &nbsp;Rs:{{items.DeliveryCharge}}&nbsp;&nbsp;
                  <button type="button"  (click)='cartFun(items.ItemName,items.OfferPrice,items.DeliveryCharge,items.Plate,items.Rid)' >+</button>
                  <button type="button"  (click)='removecartFun(items.ItemName,items.OfferPrice,items.DeliveryCharge,items.Rid)'>-</button>
                </div>  
                  <div *ngIf='items.DeliveryType=="Charge" && items.RestaurantName!="Hotel Samskruti"'>
                      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;Delivery Charge : &nbsp;Rs:{{items.DeliveryCharge}}&nbsp;&nbsp;
                      <button type="button"  (click)='cartFun(items.ItemName,items.Price,items.DeliveryCharge,items.Plate,items.Rid)' >+</button>
                      <button type="button"  (click)='removecartFun(items.ItemName,items.Price,items.DeliveryCharge,items.Rid)'>-</button>
                    </div>
                     <div *ngIf='items.DeliveryCharge==0 && items.RestaurantName!="Hotel Samskruti"'>
                        &nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{items.DeliveryType}}&nbsp;Delivery&nbsp;&nbsp;
                        <button type="button"  (click)='cartFun(items.ItemName,items.Price,items.DeliveryCharge,items.Plate)' >+</button>
                        <button type="button"  (click)='removecartFun(items.ItemName,items.Price,items.DeliveryCharge)' >-</button>
                      </div>
                </div>
              </mat-grid-tile>   
            </mat-grid-list>
     </div>
</mat-sidenav-container>

