.example-container {
    position: absolute;
    top: 50px;
    bottom: 40px;
    left: 0;
    right: 0;
    background: #eee;
  }
  
  .leftside{
    padding-top: 5%;
    position: absolute;
    background: #6363b3;
    top: 0%;
    bottom: 0; 
    left: 0;
    right:80%;
  }
  .matcard:hover{
   box-shadow:red;
   background:rosybrown;
   cursor: pointer;
 
  }
  .rightside{
    padding-top: 8%;
    position: absolute;
    background: #6363b3;
    top: 0%;
    bottom: 0; 
    left: 80%;
    right:0;
  }