
  .example-container{
    position: absolute;
    top: 50px;
    bottom: 40px;
   
    left: 0px;
    right: 0;
  }
  .ex{
      width:250px;
  }
 
 
  .list{
      font-size: 23px;
      font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  }
  .list :hover{
      background-color: bisque;
      font-size: 23px;
      font-family: 'Times New Roman', Times, serif;
      font-kerning: auto;
      height: 90px;
  }
  .btn{
    height: 30px;
    width:120px;
    background-color: blue;
    border-radius: 8px;
}
  img.image{
    width:200px;
    height: 100px
}
  .image{
    width:300px;
    height: 180px
}
.header {
    position: fixed;
    left: 0;
    height: 15%;
    top:0;
    width: 100%;
    background-color:blue;
    color: white;
    text-align: center;
}
.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 12%;
    background-color:blue;
    color:blue;
    text-align: center;
}
  .food{
      width: 800px;
      height:400px;
      display: flex;
      font-family: 'Times New Roman', Times, serif;
      font-kerning: auto;
  }
  b{
      font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
      font-size: 15px;
  }
  .img{
      width:40px;
      height: 40px
  }
  p{
      margin-left: 600px;
      margin-top: 0px;
  }
  .card{
    display: flex
  }