select {
    
    padding: 10px;
    border: #ccc solid 2px;
    border-radius: 8px;
    width:220px;
    background: transparent;
    line-height: 3px;
    margin-top: 70px;
    overflow: hidden;
    position: relative;
    z-index: 30;
    font-size: 1em;
    
}
.example-form { 
    min-width: 150px;
    max-width: 500px;
    width: 10%;
  }
  .example-full-width {
    width: 60%;
  }
.container{
   position: absolute;
    top: 75px;
    bottom: 40px;
    left: 0;
    right: 0;
}
.img{
  margin-top:0px;
  width:50%;
  height: 100%;
}


